.about {
  font-family: $base-font;
  font-size:17px;
  line-height: 20px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .about {
    width: 100%;
  }
}

.about__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 32px;
  margin: 0 auto;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 62px;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    width: 700px;
    margin: 0 auto;
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 70px;
  }
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  margin:0;
  margin-bottom: 26px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .about__title {
    width: 100%;
    font-size: 43px;
    line-height: 40px;
    margin-left: -5px;
    margin-bottom: 47px;
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 42px;
  }
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  color: $base-headline-color;
}

@media (min-width: $tablet-width) {
  .about__list {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .about__list {
    padding-bottom: 43px;
  }
}

.about__item {
  position: relative;
  padding-top: 60px;
  margin-bottom: 23px;
}

.about__item--eco::before {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 9px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-feature-flower.svg);
}

.about__item--price::before {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: 8px;
  left: 0;
  background-repeat: no-repeat;
  background-image: url(../img/icon-feature-money.svg);
}

.about__item--likes::before {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 8px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-feature-heart.svg);
}

.about__item--hand-made::before {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: 9px;
  left: 3px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-feature-ball.svg);
}

.about__item--service::before {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: -3px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-feature-rocket.svg);
}

.about__item--present::before {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: 7px;
  left: 3px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-feature-gift.svg);
}

@media (min-width: $tablet-width) {
  .about__item {
    width: 314px;
    margin-right: 20px;
    margin-bottom: 50px;
  }

 .about__item--hand-made{
    order: 2;
  }

  .about__item--price {
    order: 3;
  }

  .about__item--service {
    order: 4;
  }

  .about__item--likes {
    order: 5;
  }

  .about__item--present {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .about__item {
    margin-right: 36px;
  }
}