.about {
  font-family: $base-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .about {
    width: 100%;
  }
}

.about__wrapper {
  position: relative;

  width: 260px;
  margin: 0 auto;
  padding-top: 32px;
  padding-right: 30px;
  padding-left: 30px;
}

.about__wrapper::before {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;

  width: 100%;
  height: 7px;

  content: "";

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    width: 668px;
    padding-top: 62px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .about__wrapper::before {
    top: -9px;

    height: 18px;

    background-size: auto 17px;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    width: 700px;
    margin: 0 auto;
    padding-top: 70px;
    padding-right: 225px;
    padding-left: 225px;
  }

  .about__wrapper::before {
    top: -14px;

    height: 24px;

    background-size: auto 23px;
  }
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  color: #000000;
}

@media (min-width: $tablet-width) {
  .about__title {
    font-size: 43px;
    line-height: 40px;

    width: 100%;
    margin-bottom: 50px;
    margin-left: -5px;
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    font-size: 53px;
    line-height: 57px;

    margin-bottom: 42px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  list-style: none;

  color: $base-headline-color;
}

@media (min-width: $tablet-width) {
  .about__list {
    font-size: 20px;
    line-height: 22px;

    display: flex;

    padding-bottom: 33px;

    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .about__list {
    padding-bottom: 43px;
  }
}

.about__item {
  position: relative;

  margin-bottom: 23px;
  padding-top: 60px;
}

.about__item--eco::before {
  position: absolute;
  top: 6px;
  left: 9px;

  width: 60px;
  height: 50px;

  content: "";

  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
}

.about__item--price::before {
  position: absolute;
  top: 8px;
  left: 0;

  width: 60px;
  height: 50px;

  content: "";

  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
}

.about__item--likes::before {
  position: absolute;
  top: 10px;
  left: 8px;

  width: 60px;
  height: 50px;

  content: "";

  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
}

.about__item--hand-made::before {
  position: absolute;
  top: 9px;
  left: 3px;

  width: 60px;
  height: 50px;

  content: "";

  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
}

.about__item--service::before {
  position: absolute;
  top: 10px;
  left: -3px;

  width: 60px;
  height: 50px;

  content: "";

  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
}

.about__item--present::before {
  position: absolute;
  top: 7px;
  left: 3px;

  width: 60px;
  height: 50px;

  content: "";

  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .about__item {
    width: 314px;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .about__item--hand-made{
    order: 2;
  }

  .about__item--price {
    order: 3;
  }

  .about__item--service {
    order: 4;
  }

  .about__item--likes {
    order: 5;
  }

  .about__item--present {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .about__item {
    margin-right: 36px;
  }
}
