.about {
  font-family: $base-font;
  font-size:17px;
  line-height: 20px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .about {
    width: 100%;
  }
}

.about__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    width: 700px;
    margin: 0 auto;
    padding-left: 225px;
    padding-right: 225px;
  }
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  margin:0;
  margin-bottom: 30px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .about__title {
    width: 100%;
    font-size: 43px;
    line-height: 40px;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 40px;
  }
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .about__list {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 25px;
  }
}

.about__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .about__item {
    width: 314px;
    margin-right: 20px;
    margin-bottom: 55px;
  }

 .about__item--hand-made{
    order: 2;
  }

  .about__item--price {
    order: 3;
  }

  .about__item--service {
    order: 4;
  }

  .about__item--likes {
    order: 5;
  }

  .about__item--present {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .about__item {
    margin-right: 36px;
  }
}