.contacts {
  font-family: $base-font;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $base-color;
  position: relative;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-bottom: 105px;
  }
}

.contacts__wrapper {
  padding-top: 38px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  margin: 0 auto;
  width: 260px;
}

.contacts__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
  z-index: 50;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  .contacts__wrapper::before {
    height: 18px;
    background-size: auto 17px;
    top: -17px;
  }

  .contacts__wrapper::after {
    content: "";
    position: absolute;
    right: 50px;
    top: 45px;
    width: 50px;
    height: 82px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-flag.svg");
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 350px;
    margin: 0 auto;
    padding-left: 175px;
    padding-right: 525px;
    padding-bottom: 14px;
  }

  .contacts__wrapper::before {
    top: -10px;
    height: 24px;
    background-size: auto 23px;
  }

  .contacts__wrapper::after {
    left: 63px;
    top: 148px;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $base-headline-color;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    width: 501px;
    margin-top: 23px;
    margin-bottom: 50px;
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    width: 299px;
    margin-top: 119px;
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__info {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .contacts__info {
    width: 668px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__info {
    width: 299px;
  }
}

.contacts__parameter {
  width: 77px;
  padding-bottom: 30px;
}

.contacts__value {
  width: 183px;
}

@media (min-width: $tablet-width) {
  .contacts__parameter {
    width: 77px;
    padding: 0;
  }

  .contacts__value {
    width: 232px;
    padding: 0;
    padding-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__value {
    width: 222px;
    padding: 0;
    padding-bottom: 28px;
  }
}

.contacts__map {
  width: 322px;
  height: 457px;
  margin: 0 auto;
  padding-bottom: 39px;
  position: relative;
  overflow: hidden;
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: 145px;
  left: 139px;
  width: 68px;
  height: 97px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    padding-bottom: 55px;
    width: 768px;
    height: 457px;
  }

  .contacts__map::before {
    top: 142px;
    left: 47%;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    position: absolute;
    padding-bottom: 0;
    bottom: 105px;
    left: 50%;
    width: 525px;
    height: 457px;
  }

  .contacts__map::before {
    left: 46%;
  }
}

.contacts__write-us {
  width: 236px;
  margin: 0;
  font-size: 18px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .contacts__write-us {
    width: 206px;
    margin: 0 auto;
    font-size: 17px;
  }
}

.contacts__btn-wrapper {
    width: 260px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .contacts__btn-wrapper {
    width: 350px;
    padding-left: 175px;
    padding-right: 525px;
  }

  .contacts__write-us {
    margin: 0;
  }
}
