.email {
  font-family: $base-font;
  font-size:15px;
  line-height: 30px;
  font-weight: 400;
  color: $base-color;
  border-bottom: 1px solid $email-color;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .email {
    font-size: 17px;
    line-height: 30px
  }
}