.form {
  font-family: $base-font;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $base-color;
  position: relative;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form::before {
    content: "";
    position: absolute;
    left: 0;
    top: -15px;

    width: 100%;
    height: 36px;
    background-size: auto 36px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    z-index: 50;
  }
}

.form__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__wrapper--inner-content {
    padding-top: 52px;
    padding-bottom: 14px;
  }

  .form__dark-wrapper {
    width: 100%;
    background-color: $accent-bg-color;
    padding-top: 66px;
  }

  .form__dark-wrapper--contacts {
    padding-top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 875px;
    padding-left: 50px;
    padding-right: 225px;
  }

  .form__wrapper--colors {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form__dark-wrapper {
    padding-top: 64px;
  }

  .form__dark-wrapper--contacts {
    padding-top: 45px;
  }
}

.form__info {
  padding: 0;
  padding-top: 22px;
  padding-bottom: 24px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form__info {
    margin-top: 52px;
    margin-bottom: 49px;
  }
}

@media (min-width: $desktop-width) {
  .form__info {
    margin-top: 102px;
    margin-left: 175px;
  }
}

.form__filters-group {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  position: relative;
}

.form__filters-group--tel {
  padding-top: 4px;
}

.form__filters-group--comment {
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .form__filters-group {
    width: 501px;
    padding-left: 167px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__filters-group input[type="text"],
  .form__filters-group input[type="email"],
  .form__filters-group input[type="tel"],
  .form__filters-group textarea {
    box-sizing: border-box;
    width: 100%;
  }

  .form__filters-group--email {
    padding-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .form__filters-group {
    width: 700px;
    padding-left: 175px;
  }

  .form__filters-group--colors {
    width: 728px;
    justify-content: none;
    align-items: flex-start;
  }

}

.form__filters-group p {
  padding: 0;
  margin: 0;
  position: relative;
}

.form__filters-group svg {
  position: absolute;
  opacity: 0.2;
}

.form__filters-group--tel svg {
  top: 12px;
  right: 8px;
}

.form__filters-group--email svg {
  top: 8px;
  right: 4px;
}

@media (min-width: $tablet-width) {
  .form__filters-group--tel svg {
    top: 13px;
    right: 25px;
  }

  .form__filters-group--email svg {
    right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .form__filters-group--tel svg {
    right: 9px;
  }

  .form__filters-group--email svg {
    right: 4px;
  }
}

.form__legend {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $legend-color;
  margin-bottom: 35px;

  &--name {
    margin-bottom: 27px;
  }
}

@media (min-width: $tablet-width) {
  .form__legend {
    position: absolute;
    top: 0;
    left: 0;
  }

  .form__legend--name {
    top: 14px;
    left: 2px;
  }

  .form__legend--tel {
    top: 22px;
    left: 1px;
  }

  .form__legend--email {
    top: 15px;
    left: 1px;
  }

  .form__legend--comment {
    top: 15px;
    left: 1px;
  }
}

@media (min-width: $desktop-width) {
  .form__legend {
    left: 64px;
  }

  .form__legend--name {
    left: 62px;
    top: 16px;
  }

  .form__legend--email {
    top: 17px;
    left: 63px;
  }

  .form__legend--color {
    left: 60px;
    top: 1px;
  }
}

.form__legend--tel {
  margin-bottom: 7px;
}

.form__legend--email {
  margin-bottom: 10px;
}

.form__list {
  list-style: none;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}

.form__legend--comment {
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .form__list {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .form__list--colors {
    justify-content: flex-start;
  }
}

.form__option {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $base-headline-color;
  padding-left: 62px;
}

.form__option--radio {
  width: 196px;
  padding-bottom: 24px;
}

.form__option--checkbox {
  width: 196px;
  padding-bottom: 43px;
}

.form__option--checkbox:last-of-type {
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .form__option {
    font-size: 19px;
    padding-left: 80px;
    padding-bottom: 58px;
  }

  .form__option--radio {
    width: 421px;
  }

  .form__option--checkbox {
    width: 133px;
  }
}

@media (max-width: 1149px) {
  .form__option--checkbox:nth-of-type(odd) {
    margin-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__option {
    padding-left: 81px;
    margin-bottom: 0px;
  }

  .form__option--radio {
    width: 421px;
    padding-left: 81px;
    margin-bottom: 0;
  }

  .form__option--checkbox {
    width: 124px;
    margin-right: 56px;
  }

  .form__option--checkbox:nth-of-type(3n) {
    margin-right: 0;
  }
}

.form__radio,
.form__checkbox {
  position: relative;
}

.form__radio::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -60px;
  width: 16px;
  height: 16px;
  background-color: $base-bg-color;
  border: 10px solid $base-bg-color;
  border-radius: 50%;
  box-shadow: 0 0 0 2px $base-color;
}

@media (min-width: $tablet-width) {
  .form__radio::after {
    width: 22px;
    height: 22px;
    top: -9px;
    left: -77px;
    border: 13px solid $base-bg-color;
  }
}

.form__radio:hover::after,
.form__radio:focus::after {
  box-shadow: 0 0 0 2px $accent-color;
}

.form__radio:active::after {
  box-shadow: 0 0 0 2px $placeholder-color;
}

input[type=radio]:checked+.form__radio::after {
  background-color: $accent-color;
}

.form__checkbox::before {
  position: absolute;
  content: "";
  top: -9px;
  left: -62px;
  width: 36px;
  height: 36px;
  border: 2px solid $base-color;
}

.form__checkbox:hover::before,
.form__checkbox:focus::before {
  border: 2px solid $accent-color;
}

.form__checkbox:active::before {
  border: 2px solid $placeholder-color;
}

.form__checkbox::after {
  position: absolute;
  content: "";
  height: 37px;
  width: 37px;
  background-color: transparent;
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
  background-size: calc(70%);
  left: -53px;
  top: 2px;
  display: none;
}

@media (min-width: $tablet-width) {
  .form__checkbox::before {
    position: absolute;
    content: "";
    top: -12px;
    left: -79px;
    width: 48px;
    height: 48px;
    border: 2px solid $base-color;
  }

  .form__checkbox::after {
    left: -70px;
    top: -2px;
    background-size: calc(110%);
  }
}

input[type=checkbox]:checked+.form__checkbox::after {
  display: block;
}

input[type=radio]:focus+.form__radio::after,
input[type=checkbox]:focus+.form__checkbox::before {
  box-shadow: 0 0 0 2px $accent-color;
}

.form__input-wrapper {
  display: block;
  margin-bottom: 20px;
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $base-headline-color;
}

@media (min-width: $tablet-width) {
  .form__input-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 26px;
  }

  .form__label {
    font-size: 19px;
    margin-right: 25px;
  }
}

@media (min-width: $tablet-width) {
  .form__label {
    margin-right: 18px;
  }
}

.form__input {
  width: 260px;
  border: none;
  border-bottom: 2px solid $input-border-color;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 14px;
  color: $base-color;
  font-size: 17px;
}

.form__input:hover,
.form__input:focus {
  border-bottom: 2px solid $legend-color;
}

.form__input:active {
  color: $base-color;
  border-bottom: 2px solid $legend-color;
}

.form__input::-webkit-input-placeholder,
.form__field-message::-webkit-input-placeholder {
  color: $placeholder-color;
}

.form__input::-moz-placeholder,
.form__field-message::-moz-placeholde {
  color: $placeholder-color;
}

.form__input:-moz-placeholder,
.form__field-message:-moz-placeholder {
  color: $placeholder-color;
}

.form__input--tel {
  padding-top: 16px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.form__input--email {
  margin-bottom: 25px;
}

.form__input-wrapper--tell:hover path,
.form__input-wrapper--tell:focus path,
.form__input-wrapper--tell:active path,
.form__input-wrapper--email:hover path,
.form__input-wrapper--email:focus path,
.form__input-wrapper--email:active path,
.form__input-wrapper--tell:hover svg,
.form__input-wrapper--tell:focus svg,
.form__input-wrapper--tell:active svg,
.form__input-wrapper--email:hover svg,
.form__input-wrapper--email:focus svg,
.form__input-wrapper--email:active svg {
  fill: $accent-color;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .form__input {
    font-size: 19px;
    padding-left: 18px;
  }

  .form__input--tel {
    margin-bottom: 16px;
  }


  .form__input--tel,
  .form__input--email {
    background-color: $accent-bg-color;
  }

  .form__label {
    font-size: 19px;
    margin-right: 25px;
  }
}

.form__field-message {
  width: 226px;
  height: 108px;
  font-family: $base-font;
  color: $base-color;
  border: 2px solid $base-color;
  resize: none;
  font-size: 17px;
  padding: 15px;
}

@media (min-width: $tablet-width) {
  .form__field-message {
    height: 140px;
    font-size: 19px;
    padding-top: 10px;
  }
}

.form__field-message:hover,
.form__field-message:focus,
.form__field-message:active {
  border-color: $accent-color;
}

.form__info-required {
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__submit-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__info-required {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__send {
  width: 260px;
  margin-top: 27px;
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .form__send {
    order: -1;
    margin-top: 34px;
    margin-bottom: 37px;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form__send {
    margin-left: 175px;
    margin-top: 30px;
  }
}