.form {
  font-family: $base-font;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $base-color;
}

.form__wrapper {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

.form__filters-group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__legend {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: $legend-color;
  margin-bottom: 25px;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__option {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $base-headline-color;
  padding-left: 60px;
  margin-bottom: 25px;
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $base-headline-color;
}

.form__input {
  border: none;
  border-bottom: 2px solid $input-border-color;
  padding: 15px 0;
  color: $base-color;
  font-size: 17px;
}

.form__input:hover,
.form__input:focus {
  border-bottom: 2px solid $legend-color;
}

.form__input:active {
  color: $base-color;
  border-bottom: 2px solid $legend-color;
}

.form__input::-webkit-input-placeholder,
.form__field-message::-webkit-input-placeholder {
  color: $placeholder-color;
}

.form__input::-moz-placeholder,
.form__field-message::-moz-placeholde {
  color: $placeholder-color;
}

.form__input:-moz-placeholder,
.form__field-message:-moz-placeholder {
  color: $placeholder-color;
}

.form__field-message {
  font-family: $base-font;
  border: 2px solid $base-color;
  resize: none;
  font-size: 17px;
  margin-bottom: 18px;
}

.form__info-required {
  font-size: 14px;
  line-height: 16px;
}

.form__send {
  margin-top: 30px;
  margin-bottom: 55px;
}