.main-headline {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: $accent-bg-color;
}

.main-headline__text{
  text-align: center;
  font-family: $base-font;
  color: $base-headline-color;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
