.page-footer {
  width: 100%;
  font-family: $base-font;
  font-size: 15px;
  background-color: $accent-bg-color;
}

.page-footer__wrapper {
  margin: 0 auto;
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 23px;
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 668px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 32px;
    padding-bottom: 33px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.page-footer__logo {
  display: none;
}

.page-footer__logo:hover path,
.page-footer__logo:focus path {
  fill: $footer-accent;
}

.page-footer__logo:active svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
    width: 127px;
    margin-top: 18px;
  }

  .page-footer__logo svg {
    width: 103px;
  }
}

.page-footer__social {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid $dark-decoration-color;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    width: 145px;
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 25px;
    margin-right: 0;
  }
}

.page-footer__copyright {
  padding-top: 27px;
  padding-bottom: 28px;
  margin-left: 38px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    margin-left: 0;
    padding-top: 31px;
    padding-bottom: 27px;
  }
}

.page-footer__copyright-text {
  width: 127px;
  font-family: $base-font;
  font-size:19px;
  line-height: 20px;
  font-weight: 700;
  color: $base-headline-color;
  margin-right: 22px;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright-text {
    margin-right: 51px;
  }
}

.page-footer__copyright-link {
  position: relative;
}

.page-footer__copyright-link span {
  font-size: 0;
}

.page-footer__copyright-link svg {
    fill: $accent-color;
    position: absolute;
    right: -30px;
    bottom: -10px;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright-link svg {
    right: 0;
  }
}

.page-footer__copyright:hover svg,
.page-footer__copyright:focus svg {
    fill: $footer-accent;
    cursor: pointer;
}

.page-footer__copyright:active svg {
  opacity: 0.3;
  fill: $footer-accent;
}

.page-footer__copyright:active .page-footer__copyright-text {
  opacity: 0.3;
}