.page-footer {
  font-family: $base-font;
  font-size: 15px;
  width: 320px;
  margin: 0 auto;
  background-color: $accent-background-color;
}

.page-footer__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
