.pagination {
  font-size: 0;
  display: flex;
  flex-shrink: 1;
}

@media (min-width: $tablet-width) {
  .pagination {
    position: absolute;
    right: 53px;
    top: 356px;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    right: 50px;
    bottom: 173px;
  }
}

.pagination__item {
  width: 130px;
  min-height: 52px;
  background-color: $base-bg-color;
  border: 1px solid $decoration-color;
  margin: 0;
  padding: 0;
  font-size: 0;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center center;
}

.pagination__item--prev {
  background-image: url(../img/icon-left-arrow.svg);
}

.pagination__item--next {
  background-image: url(../img/icon-right-arrow.svg);
}

.pagination__item:hover,
.pagination__item:focus {
  opacity: 0.6;
}

.pagination__item:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .pagination__item {
    width: 84px;
    border: none;
  }
}