.production {
  font-family: $base-font;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid $decoration-color;
  padding-top: 30px;
  position: relative;
}

@media (min-width: $tablet-width) {
    .production {
        font-size: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 0;
        padding-top: 0;
    }
}

@media (min-width: $desktop-width) {
    .production {
        width: 350px;
        padding-left: 700px;
        padding-top: 100px;
    }
}

.production__title {
  color: $base-headline-color;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-left: 90px;
  margin-right: 30px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
    .production__title {
        font-size: 20px;
    }
}

@media (min-width: $tablet-width) {
    .production__title {
        width: 160px;
        margin-left: 60px;
        margin-bottom: 40px;
    }
}

.production__video {
  width: 260px;
  height: 150px;
  background-color: $legend-color;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
    .production__video {
        order: -1;
        width: 668px;
        height: 455px;
    }
}

@media (min-width: $desktop-width) {
    .production__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 668px;
        height: 455px;
    }
}

.production__info {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

@media (min-width: $desktop-width) {
    .production__info {
        margin-left: 60px;
        margin-bottom: 48px;
    }
}

.production__order {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
    .production__order {
        width: 580px;
    }
}

@media (min-width: $desktop-width) {
    .production__order {
        width: 226px;
        margin-left: 60px;
        margin-bottom: 49px;
    }
}