.product {
  font-family: $base-font;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  display: flex;

  margin-bottom: 30px;

  color: $base-color;

  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: flex-start;
}

.product:hover,
.product:focus {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
}

.product:active {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
}

@media (min-width: $tablet-width) {
  .product {
    font-size: 15px;
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    margin-bottom: 57px;
  }
}

.product__link {
  margin: 0;
  padding: 0;

  text-decoration: none;

  color: $base-headline-color;
}

.product__link--blank {
  font-size: 0;

  display: block;

  width: 260px;
  height: 195px;

  background-color: $accent-bg-color;
}


@media (min-width: $tablet-width) {
  .product__link--blank {
    width: 332px;
    height: 335px;
    overflow: hidden;
  }
}

@media (min-width: $desktop-width) {
  .product__link--blank {
    width: 315px;
    height: 463px;
  }
}

.product__image {
  width: 260px;
  height: 195px;
}

@media (min-width: $tablet-width) {
  .product__image {
    width: 334px;
    height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .product__image {
    width: 315px;
    height: 463px;
  }
}

.product__border {
  width: 258px;
  padding-top: 26px;
  padding-right: 20px;
  padding-left: 27px;
  padding-bottom: 24px;

  border: 1px solid $decoration-color;
}

@media (min-width: $tablet-width) {
  .product__border {
    width: 275px;
    min-height: 284px;
    padding-top: 25px;
    padding-right: 33px;
    padding-left: 26px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .product__border {
    min-height: 146px;
  }
}

.product__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;
  padding: 0;

  color: $base-headline-color;
}

.product__title:hover,
.product__title:focus {
  opacity: 0.6;
}

.product__title:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .product__title {
    padding-right: 30px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .product__title {
    padding-right: 0;
  }
}

.product__info {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .product__info {
    margin-bottom: 0;
  }
}

.buy__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  border-top: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .buy__wrapper {
    margin-top: auto;
  }
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;

  color: #000000;
}

@media (min-width: $tablet-width) {
  .product__price {
    font-size: 17px;
    padding-left: 4px;
  }
}

@media (min-width: $desktop-width) {
  .product__price {
    padding-left: 1px;
  }
}

.product__buy {
  font-size: 0;
  position: relative;
  cursor: pointer;
}

.product__buy svg {
  width: 21px;
  height: 19px;
  position: absolute;
  right: 6px;
  top: 4px;
  opacity: 0.2;
}

.product__buy:hover svg,
.product__buy:focus svg,
.product__buy:hover path,
.product__buy:focus path {
  fill: $accent-color;
  opacity: 1;
}

.product__buy:active svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .product__buy svg {
    right: -2px;
  }
}
