.reviews {
  font-family: $base-font;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 100%;
    font-size: 17px;
    line-height: 30px;
  }
}

.reviews__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  margin: 0 auto;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 79px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: flex-start;

    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: left top;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
     background-position: 50px top;
  }
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: $base-headline-color;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .reviews__title {
    order: 1;
    width: 430px;
    margin-top: 78px;
    margin-left: -5px;
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__title {
    width: 525px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 172px;
    font-size: 53px;
    line-height: 57px;
  }
}

@media (min-width: $tablet-width) {
  .reviews__list {
    order: 3;
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__list {
    order: 3;
    width: 875px;
    margin-bottom: 99px;
    margin-left: 175px;
  }
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .reviews__text {
    margin-bottom: 54px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__text {
    margin-bottom: 35px;
  }
}

.reviews__author-wrapper {
  padding: 0;
  padding-bottom: 7px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reviews__author-wrapper {
    padding: 0;
  }
}

.reviews__author {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: $base-headline-color;
}

.reviews__contact {
  font-size: 17px;
  color: $base-color;
  text-decoration: none;
}

.reviews__pagination {
  margin-top: 31px;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .reviews__pagination {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .reviews__pagination {
    order: 4;
    margin-top: -50px;
    margin-right: 3px;
  }
}

.reviews__write {
  font-size: 18px;
  margin-bottom: 48px;
}

@media (min-width: $tablet-width) {
  .reviews__write {
    order: 2;
    width: 151px;
    margin-top: 79px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews__write {
    font-size: 17px;
  }
}
