body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $base-font;
  color: $base-color;
  font-style: normal;

  background-color: $base-bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $base-color;
  text-decoration: none;
}