.site-list {
  list-style: none;
  padding: 0;
  padding-left: 75px;
  margin: 0;
}

.site-list__link {
  font-family: $base-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: $base-headline-color;
}
