.types__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.types__item {
  width: auto;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.types__link {
  font-family: $base-font;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: $base-background-color;

  display: block;
  width: 110px;
}

.types__item--interior {
  background-color: $accent-color;
}

.types__item--toys {
  background-color: $dark-accent-color;
}