.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.user-list__search,
.user-list__cart {
  position: relative;
}

@media (min-width: $tablet-width) {
  .user-list__search,
  .user-list__cart {
    width: 264px;
    padding-right: 0;
    padding-left: 0;
  }

  .user-list__search {
    width: 82px;
    border-right: 1px solid $decoration-color;
    border-left: 1px solid $decoration-color;
  }
}

@media (min-width: $desktop-width) {
  .user-list__cart {
    width: 266px;
  }
}


.user-list__search-link,
.user-list__cart-link {
  font-family: $base-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  position: relative;

  display: block;
  width: 100%;

  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 75px;

  text-decoration: none;

  color: $base-headline-color;
  background-color: $base-bg-color;
}

.user-list__search-link:hover span,
.user-list__search-link:focus span,
.user-list__cart-link:hover span,
.user-list__cart-link:focus span {
  opacity: 0.6;
}

.user-list__search-link:hover svg,
.user-list__search-link:focus svg,
.user-list__cart-link:hover svg,
.user-list__cart-link:focus svg {
  opacity: 1;
}

.user-list__search-link:hover path,
.user-list__search-link:focus path,
.user-list__cart-link:hover path,
.user-list__cart-link:focus path {
  fill: $accent-color;
}

.user-list__search-link:active span,
.user-list__cart-link:active span {
  opacity: 0.3;
}

.user-list__search-link:active svg,
.user-list__cart-link:active svg {
  opacity: 0.3;
  fill: $accent-color;
}

.user-list__search-link:active path,
.user-list__cart-link:active path {
  fill: $accent-color;
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened .user-list__search,
  .main-nav--opened .user-list__cart {
    width: 100%;
    border-bottom: 1px solid $decoration-color;
  }

  .main-nav--opened .user-list__cart-link,
  .main-nav--opened .user-list__search-link {
    width: 245px;
    margin: 0 auto;
  }

  .main-nav--nojs .user-list__search,
  .main-nav--nojs .user-list__cart {
    width: 100%;
  }

  .main-nav--nojs .user-list__search {
    border-bottom: 1px solid $decoration-color;
  }

  .main-nav--nojs .user-list__cart-link,
  .main-nav--nojs .user-list__search-link {
    width: 245px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .user-list__search-link {
    width: 80px;
    padding-left: 0;
    font-size: 0;
  }

  .user-list__cart-link {
    padding-top: 31px;
    padding-bottom: 33px;
    padding-left: 0;
    text-align: right;
  }
}

.user-list__search-link svg {
  position: absolute;
  top: 30px;
  left: 32px;
  opacity: 0.2;
}

.user-list__cart-link svg {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .user-list__search-link svg {
    top: 37px;
    left: 33px;
  }

  .user-list__cart-link svg {
    top: 35px;
    left: 32px;
  }
}
