/*Шрифты*/

$base-font: 'Open Sans', Arial, sans-serif;

/*Цвета*/

$base-color: #444444;
$accent-color: #63d1bb;
$dark-accent-color: #56c3b2;
$email-color: #62d1ba;
$legend-color: #62d1ba;
$base-headline-color: #000000;
$placeholder-color: rgba(68, 68, 68, 0.3);

$decoration-color: #ececec;
$dark-decoration-color: #e5e5e5;
$input-border-color: #000000;


$base-bg-color: #ffffff;
$header-bg-color: #f9f9f9;
$accent-bg-color: #f1f1f1;

/*Ширины*/

$tablet-width: 768px;
$desktop-width: 1150px;