$base-font: 'Open Sans', Arial, sans-serif;

$base-color: #444444;
$accent-color: #63d1bb;
$dark-accent-color: #56c3b2;
$email-color: #62d1ba;
$legend-color: #62d1ba;
$base-headline-color: #000000;
$placeholder-color: rgba(68, 68, 68, 0.3);

$decoration-color: #ececec;
$input-border-color: #000000;


$base-background-color: #ffffff;
$accent-background-color: #f1f1f1;
